.navbar-dark .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  color: rgba(255,255,255,.9);
  font-weight: 700;
  margin-left: 1rem;
}

.navbar-dark .navbar-nav .nav-link .fa {
  padding-right: 0.2rem;
  color: blueviolet;
  font-size: 1.2rem;
}